@model OptiFabricMVC.Application.ViewModels.EmployeeVM.EmployeeForListVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Imie</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Nazwisko</label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            
            <label for="Role">Wybierz rolę</label>
            <select asp-for="Role" asp-items="@(new SelectList(Model.AvailabeRoles))" class="form-control">
                <option value="">-- Wybierz rolę --</option>
            </select>

            <div class="form-group">
                <input type="submit" value="Edytuj" class="btn btn-primary"/>
            </div>
        </form>
    </div>

</div>